<nb-card>
  <nb-card-body class="card">
    <div class="progress-bar">
      <div class="step" (click)="verPrimerStep()">
        <div class="bullet" #bullet1>
          <span>1</span>
        </div>
        <p class="step-title">Nominación</p>
      </div>
      <div class="step" (click)="verSegundoStep()">
        <div class="bullet" #bullet2>
          <span>2</span>
        </div>
        <p class="step-title">Prospectos</p>
      </div>
      <div class="step" (click)="verTercerStep()">
        <div class="bullet" #bullet3>
          <span>3</span>
        </div>
        <p class="step-title">Arrival & Departure Conditions</p>
      </div>
      <div class="step" (click)="verCuartoStep()">
        <div class="bullet" #bullet4>
          <span>4</span>
        </div>
        <p class="step-title">Información extra</p>
      </div>
    </div>
    <form>
      <div class="part-1" #formContent>
        <div class="form-content-container">
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
        </div>
        <div class="form-button-container-first-last">
          <button
            class="boton-siguiente"
            type="button"
            (click)="verSegundoStep()"
          >
            SIGUIENTE
          </button>
        </div>
      </div>
      <div class="part">
        <div class="form-content-container">
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
        </div>
        <div class="form-button-container">
          <button class="boton-atras" type="button" (click)="verPrimerStep()">
            ATRÁS
          </button>
          <button
            class="boton-siguiente"
            type="button"
            (click)="verTercerStep()"
          >
            SIGUIENTE
          </button>
        </div>
      </div>
      <div class="part">
        <div class="form-content-container">
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
        </div>
        <div class="form-button-container">
          <button class="boton-atras" type="button" (click)="verSegundoStep()">
            ATRÁS
          </button>
          <button
            class="boton-siguiente"
            type="button"
            (click)="verCuartoStep()"
          >
            SIGUIENTE
          </button>
        </div>
      </div>
      <div class="part">
        <div class="form-content-container">
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
          <div class="form-column">
            <label for="example">
              Example
              <input
                type="text"
                id="example"
                placeholder="Escribe aquí"
                autocomplete="off"
              />
            </label>
          </div>
        </div>
        <div class="form-button-container">
          <button class="boton-atras" type="button" (click)="verTercerStep()">
            ATRÁS
          </button>
          <button class="boton-siguiente" type="button">TERMINAR</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
